* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}


header, .hero-section, .footer {
    background-color: #1F2937;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.header-content {
    display: flex;
    width: 60%;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-image {
    height: 50px;
    width: 50px;
}

.links-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.hero-section-content {
    width: 60%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 70px;
    flex-wrap: wrap;
}

.info-image {
    height: 200px;
    width: 350px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.hero-button, .cta-button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #3882F6;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}

.penguin-card-image {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 7px;
    padding: 1px;
}

.penguins-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.penguin-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
    gap:8px;
    width: 150px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 90px;
    display: flex;
    justify-content: center;
}

.quote-section-content {
    width: 45%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote {
    font-size: 34px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.attribution {
    font-weight: 700;
    align-self: flex-end;
}

.cta-section {
    display: flex;
    justify-content: center;
    padding: 90px;
}

.cta-container {
    display: flex;
    background-color: #3882F6;
    padding: 50px 80px 50px 80px;
    width: 60%;
    max-width: 1000px;
    justify-content: space-between;
    border: none;
    border-radius: 8px;
    align-items: center;
}

.cta-button {
    border: 1px solid white;
    flex-shrink: 0;
}

.cta-header, .copyright {
    color: white;
}

.cta-subtext {
    color: #E5E7EB;
}

.footer {
    padding: 30px;
}

.hero-subtext {
    line-height: 25px;
}

h1 {
    line-height: 45px;
}






